kafka:
  enabled: true
config:
  waspRoutingServicePort: 3002
  logLevel: 'info'
  kafkaLogLevel: 'info'
  waspThingsHost: things
  waspThingsPort: 80
  rawPayloadsReplicationFactor: 1
  rawPayloadsPartitions: 5
image:
  repository: ghcr.io/digicatapult/wasp-routing-service
  pullPolicy: IfNotPresent
  tag: 'v2.0.5'
  pullSecrets: ['ghcr-digicatapult']
